
 

/* submenu */
.list-submenu {
    background-color: #fff;
    width: 180px;
    top: 154%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    display: none !important;
}


.list-menu-item:hover .list-submenu { 
    display: block !important;

} 
